<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block left--img--wrapper">
      <div class="">
        <img src="assets/images/logo.webp" alt="">
      </div>
      <div class="left-img" style="background-image: url(assets/images/auth-left-img.png);">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="header--txt mb-4"> <b>Reset Password</b> </h2> 
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-12 mb-2"> 
                <label>Email Address</label>
                <mat-form-field class="example-full-width" appearance="outline"> 
                  <input matInput formControlName="email" placeholder="Enter Email Address" required>
                  <mat-icon matSuffix>mail</mat-icon>
                  <mat-error *ngIf="authForm.get('email').hasError('required') || authForm.get('email').touched">
                    Please enter a valid email address
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="container-auth-form-btn mt-3">
              <button mat-raised-button color="primary" class="auth-form-btn" [disabled]="!authForm.valid " type="submit">
                Reset My Password
              </button>
            </div>
            <div>
              <p class="mb-4 mt-4 aleady--member">Don’t have an account? <a routerLink="/authentication/signup"> Sign Up
                  Now </a> </p>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
